@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model KalPortfolio.Models.CreateMessage

@{
    Layout = "_Layout";
    ViewBag.Description = "View Kalkidans projects, contact information, and get to know who Kalkidan is.";
    ViewBag.Title = "Home";
    ViewBag.Background = "home";
}


@section header{
    <header>
        <a type="button" href="/Home/Home#home-link" class="btn btn-info skip">Skip navigation</a>

        <nav class="navbar navbar-expand-lg navbar-dark mx-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="Home">K</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="d-flex justify-content-center"><a class="nav-link" href="/Home/Home#home-link" aria-label="Go to the top of the home page.">Home</a></li>
                        <li class="d-flex justify-content-center"><a class="nav-link" href="/Home/Home#projects-link" aria-label="Go to project section.">Projects</a></li>
                        <li class="d-flex justify-content-center"><a class="nav-link" href="/Home/Home#contact-link" aria-label="Go to contact section.">Contact Me</a></li>
                        <li class="d-flex justify-content-center"><a class="nav-link disabled" href="/Home/Home#resume-link" aria-label="Currently disabled.">Resume</a></li>                      
                    </ul>                
                </div>
            </div>
        </nav>
    </header>
}

@section body{

    

    <div class="container">

        <div id="rate" class="position-fixed overlay">
            <div class="rate-site">
                <div class="position-relative m-2">
               
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-circle position-absolute top-0 end-0 rate-site-close" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    
                     
                </div>
               
                <h3 class="text-center p-3">How do you think the the site is!</h3>
            </div>
        </div>


        <div id="tease" class="rate-tease">
            <div class="poition-relative m-2"  >
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-circle position-absolute top-0 end-0 rate-tease-close" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              

            </div>
           
            <div class="text-left ms-3 mt-3">Want To Rate the site!</div>
        </div>
        

        <section id="home-link">

            <div id="home-intro" class="ms-5">

                <h1 id="home-info-header" class="text-left fs-1"><b>Hello, my name is </b><b class="text-danger">Kalkidan Vassar</b></h1>
                <p class="text-wrap lead fs-5 ps-3" id="tag-line">I am achieving my goal of being a software engineer one line of code at a time.</p>

                <div class="find-me find-me-in">
                    <a href="https://github.com/kvassar" target="_blank" class="btn btn-outline-light btn-lg" alt="link to my github">
                        GitHub
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg>
                    </a>

                    <a href="blank" target="_blank" class="btn btn-outline-light btn-lg" alt="link to my linkedIn profile">
                        LinkedIn
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                        </svg>
                    </a>
                </div>

                <div class="vertical-line"></div>

                <div class="find-me-links d-inline">
                    <a href="https://github.com/kvassar" target="_blank" type="button" alt="link to my github">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github d-inline position-absolute ms-1 z-2" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg>
                    </a>

                    <a href="blank" target="_blank" type="button" alt="link to my linked in profile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-linkedIn d-inline position-absolute z-2" id="linkedIn-link" viewBox="0 0 16 16">
                            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                        </svg>
                    </a>
                </div>

            </div>


            <div class="row justify-content-center">

                <div class="col-10">
                    <div id="about-me-panel" class="p-3">
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#intro-tab-pane" type="button" role="tab" aria-controls="intro-tab-pane" aria-selected="true">About Me</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="employment-tab" data-bs-toggle="tab" data-bs-target="#employment-tab-pane" type="button" role="tab" aria-controls="employment-tab-pane" aria-selected="false">Employment</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="activeIn-tab" data-bs-toggle="tab" data-bs-target="#activeIn-tab-pane" type="button" role="tab" aria-controls="activeIn-tab-pane" aria-selected="false">Active In</button>
                            </li>
                        </ul>

                        <div class="tab-content d-flex justify-content-center" id="myTabContent">

                            <div class="tab-pane fade show active" id="intro-tab-pane" role="tabpanel" aria-labelledby="info-tab">
                                <h1>About Me</h1>
                                <p>
                                    Hi, originally born in Ethiopia I was adopted at an early age and grew up in the United States of America.
                                    My love of technology has guided me and led me to where I am today. I always wanted to help in the creation of new and exciting technologies, and I can do this by combining my love of technology with a passion for solving problems to create impactful software.

                                </p>

                                <dl>
                                    <dt>Somethings to know about me include:</dt>
                                    <dd>- I like to read in my spare time.</dd>
                                    <dd>- I am always looking to learn new things.</dd>
                                    <dd>- I enjoy playing soccer.</dd>
                                </dl>
                            </div>


                            <div class="tab-pane fade" id="employment-tab-pane" role="tabpanel" aria-labelledby="employment-tab">

                                <h1>Heartland Business Systems</h1>
                                <p>
                                    Heartland, the start of my professional development, is an experience that I will look back upon with shock when I reflect on how early I got involved in the industry.
                                    At the age of 16 I am able to learn about current technologies and learn about even more than just technical skills.
                                    I practice communication skills threw collaborations with coworkers to solve different problems.
                                    I am able to learn about how to better interact with coworkers threw standups and mixer meetings.
                                    The list goes on but the importance for my employment at Heartland was to experience what it would be like to work as a software engineer and ultimately if this is something I could do as a career.
                                    Currently this is a very feasible career path for myself.
                                </p>

                                <h1>Marcus Vally Grand Cinema</h1>
                                <p>
                                    Marcus was my first job and will always be viewed warmly.
                                    I got a job at the movie theater because my options where very scarce at 15 years old.
                                    Even so this was a great choice. I was able to gain customer experience which ultimately means I learned how to resolve conflict and anticipate the needs of others.
                                    I am know able to use what I learned to better understand the needs of employers and to go a step beyond what is asked of me.
                                    I am also able to improve my leadership skills as a Shift Lead.
                                    I am in charge of making sure that concessions is running smoothly.
                                    Tasks include making sure that all items are stocked, customers conflicts get resolved efficiently and correctly, retrieve cash for drawers if necessary, and instruct coworkers on correct procedures among other tasks.
                                </p>

                            </div>

                            <div class="tab-pane fade" id="activeIn-tab-pane" role="tabpanel" aria-labelledby="activeIn-tab">

                                <h1>Cyberstart America</h1>
                                <p>
                                    Cyberstart America is a cyber security devolpment resource where users act as if they are an agent in a cyber security organisation that thwarts bad actors.
                                    Threw the completion of challanges revolving around various aspects of cybersecurity I am able to learn more about the industry and have a some fun.
                                    I earned one bronze badge for the 2021-2022 year and a bronze and silver badge for the 2022-2023 year.
                                    This means that I earned over 30,000 points to ge the bronze bage and 50,000 for the silver.
                                </p>

                                <h1>Student Counsel</h1>
                                <p>
                                    Eventually I want to be a lead my own development team and in order to do this I have to gain leadership experience. Student Council provides this.
                                    As a member of Student Council I help to organize events that take place at my school.
                                    From prom to penny wars to pep-rallies I help to make them run smoothly as possible adding valuable input where I can. Through my time in student council I have learned to present ideas in an attractive manner and have learned more about how to work on a team.

                                </p>

                                <h1>Spark Crew</h1>
                                <p>
                                    Spark Crew is a group that I participate in that helps in providing opportunities for middle schoolers to have fun activities that develop their faith.
                                    I lead by example and try to make what they come in thinking is a boring situation into one that they can enjoy and get something out of.
                                    Participating in this club is a great way for me to serve my community.

                                </p>

                                <h1>Chazzo Warriors</h1>
                                <p>
                                    Chazzo Warriors is a group that meets every week and just hangs out. I am able to surround myself with good people that are there to support each other and to have fun.
                                    We also do projects through out there such as a food drive, kitty pool kickball, and most members go on the yearly Catholic Heart Work Camp. We all travel to a different state and do service around the chosen community.
                                    Participating in this club is a great way I can surround myself with good influences and to also manage stress. 
                                </p>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <section id="projects-link">

            <div class="row">
                <div class="col-12 text-center">
                    <h1 id="projects-title" class="fs-1">About My <b class="text-danger">Projects</b></h1>
                </div>
            </div>


            <div class="row projects-intro-discription justify-content-center ">

                <p class="col-10">
                    Currently my projects are all about learning. Through tutorials I can learn about new technologies and concepts in a more formal and organized manner.
                    After being able to learn about these technologies projects I create on my own can be used to explore what I learned in my own way, confirm my understanding of the technology, and gain experience with the given technology.
                    The following projects let me do what I just have stated and provide me not only with experience but a sense of pride when I am able to implement what I learned in a new way that I had not known how to previously.
                </p>

            </div>



            <div class="projects position-relative m-5">

                <div class="project-img position-absolute z-n1"></div>

                <div class="row large-project-discription justify-content-xl-end justify-content-center z-0 text-end">
                    <div class="col-lg-6 col-12 mt-5">
                        <p class="fs-3 m-0 text-end">Portfolio Website</p>
                        <p class="fs-6 text-end">My first major project</p>

                        <p class="website-description text-end p-2">One of my first projects at Heartland was to make a personal website implementing what I have learned about Visual Studio, ASP.Net Core, MVC, Bootstrap, Html, CSS, C#, and SQL Server Management Studio. As I made this site, I expanded my knowledge of these various technologies well also learning about encapsulation, dependence injection, project structure and best practices. </p>

                        <pre class="website-tech mt-2">  C#    Visual Studio    CSS    HTML    Bootstrap    MVC    ASP.Net Core    SQL Server Mangment Studio  </pre>
                        <a href="https://github.com/kvassar/Portfolio" target="_blank" aria-label="Link to my protfolio repository">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github mt-1 me-1" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                        </a>
                        
                    </div>


                </div>

            </div>


            <h2 class="mb-5 text-center">Other Projects</h2>

            <div class="row gy-4">
                <div class="col-xl-3 col-lg-4 col-md-6 ">
                    <div class="project-quick-look p-3">

                        <div class="d-inline">
                            <p class="d-inline fs-5 me-5">Calculator</p>
                            <a href="https://github.com/kvassar/Calculator" target="_blank" aria-label="Link to my calculator repository">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github me-3" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </a>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                        </div>

                        <hr class="project-hr" />
                        <p class="mt-4">
                            For this project I made a simple calculator that can do multiplication, division, subtration, and addition. This being on of my first projects helped me get familiar with using Windows Forms. 
                        </p>
                        <div class="mt-4">
                            <p class="fs-6 fw-lighter">Windows forms</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="project-quick-look p-3">

                        <div class="d-inline">
                            <p class="d-inline fs-5 me-5">Login Form</p>
                            <a href="https://github.com/kvassar/LoginForm" target="_blank" aria-label="Link to my Login Form repository">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github me-3" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </a>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                        </div>

                        <hr class="project-hr" />
                        <p class="mt-4 ">
                            I created a very basic login form that asked for a username and a password. The simplicity helped me to learn how to use Visual Studio and Sql Server Managment studio in conjunction.  
                        </p>
                        <div class="mt-4">
                            <p class="fs-6 fw-lighter">Windows forms - Sql Server Managment Studio</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="project-quick-look p-3">

                        <div class="d-inline">
                            <p class="d-inline fs-5 me-5">Matching Game</p>
                            <a href="https://github.com/kvassar/MatchingGame" target="_blank" aria-label="Link to my Matching Game repository">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github me-3" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </a>
                           
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                        </div>

                        <hr class="project-hr" />
                        <p class="mt-4 ">
                            This project is one of my favorite ones out of my Widows Forms series. I was able to make a fun matching game! I was able to learn about using timers and working with webdings font library.
                        </p>
                        <div class="mt-4">
                            <p class="fs-6 fw-lighter">Windows forms</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="project-quick-look p-3">

                        <div class="d-inline">
                            <p class="d-inline fs-5 me-5">Math Quiz</p>
                            <a href="https://github.com/kvassar/MathQuiz" target="_blank" aria-label="Link to my Math Quiz repository">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github me-3" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </a>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                        </div>

                        <hr class="project-hr" />
                        <p class="mt-4 ">
                            The Math Quiz form included the use of timers and a bit of a heaver focus on logic. The user wants to complete one multiplication, addition, subtraction, and division problem in thirty seconds.
                            If they do not finish the problems in the amount of time given the game is over and they can try again. Otherwise they will get a congradulation message. 
                        </p>
                        <div class="mt-4">
                            <p class="fs-6 fw-lighter">Windows forms</p>
                        </div>
                    </div>
                </div>




                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="project-quick-look p-3">

                        <div class="d-inline">
                            <p class="d-inline fs-5 me-5">Maze game</p>
                            <a href="https://github.com/kvassar/MazeGame" target="_blank" aria-label="Link to my Maze Game repository">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github me-3" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </a>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                        </div>

                        <hr class="project-hr" />
                        <p class="mt-4 ">
                            I created a simple maze game that used your mouse as the object moving through the maze. When the mouse touched the wall, you would be forced to start from the beginning of the maze.
                            Once you reached the end of the maze a pop-up would display with a congratulations and the game ended.
                        </p>
                        <div class="mt-4">
                            <p class="fs-6 fw-lighter">Windows forms</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="project-quick-look p-3">
                        <div class="d-inline">
                            <p class="d-inline fs-5 me-5">Music Player</p>
                            <a href="https://github.com/kvassar/MusicPlayer" target="_blank" aria-label="Link to my Music Player repository">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github me-3" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </a>
                           
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                        </div>

                        <hr class="project-hr" />
                        <p class="mt-4">
                            This simple music player let the user browse music stored on their computer and than play, pause, and stop the music and have it restart. You also get a display of the audio waveform.
                        </p>
                        <div class="mt-4">
                            <p class="fs-6 fw-lighter">Windows forms</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="project-quick-look-hidden p-3">

                        <div class="d-inline">
                            <p class="d-inline fs-5 me-5">Coming Soon</p>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github mx-3" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                            
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                        </div>

                        <hr class="project-hr" />
                        <p class="mt-4 text-center">
                           ...
                        </p>
                        <div class="mt-4">
                            <p class="fs-6 fw-lighter">Windows forms</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="project-quick-look-hidden p-3">
                        <div class="d-inline">
                            <p class="d-inline fs-5 me-4">Coming Soon</p>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github me-3" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                            
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                        </div>

                        <hr class="project-hr" />
                        <p class="mt-4 text-center">
                           ...
                        </p>
                        <div class="mt-4">
                            <p class="fs-6 fw-lighter">Windows forms</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="resume-link">
        </section>

        <section id="contact-link">

            <h1 class="display-4 "><b class="text-danger contact-me">Contact</b> Me</h1>

            <div class="row">
                <div class="col-xl-6 col-12">
                    <form asp-action="Home" asp-controller="Home" method="post" id=messageform>
                        @Html.AntiForgeryToken()
                        <div class="row gy-2">
                            <div class="col-6">
                                <input type="text" asp-for="@Model.FirstName" class="message-input" id="first-name" placeholder="First Name" required pattern="^([a-zA-Z\\d!@@#$%^&*(),.?&quot;:{}|<>]]){8,25}$"/>
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                            </div>

                            <div class="col-6">
                                <input type="text" asp-for="@Model.LastName" id="last-name" class="message-input" placeholder="Last Name" required pattern="^([a-zA-Z\\d!@@#$%^&*(),.?&quot;:{}|<>]]){8,25}$" />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                            </div>

                            <div class="col-6">
                                <input type="text" asp-for="@Model.Subject" class="message-input" id="subject" placeholder="Subject" required pattern="^([a-zA-Z\\d!@@#$%^&*(),.?&quot;:{}|<>]]){8,25}$"/>
                                <span asp-validation-for="@Model.Subject" class="text-danger"></span>
                            </div>

                            <div class="col-6">
                                <input type="email" asp-for="@Model.Email" id="email" class="message-input" placeholder="Email" required pattern="^([a-zA-Z\\d!@@#$%^&*(),.?&quot;:{}|<>]]){8,25}$" />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row gy-3">
                            <div class="col-12">
                                <textarea type="text" asp-for="@Model.Message" class="message-input" rows="9" id="message" placeholder="Message" required></textarea>
                                <span asp-validation-for="@Model.Message" class="text-danger"></span>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="fs-3" id="submit-message">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-6">
                    <div id="about-me-carousel" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#about-me-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#about-me-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#about-me-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://th.bing.com/th/id/R.811ca17972b566be28ee7cd436097af5?rik=n%2bLGxYzQJp9yvg&pid=ImgRaw&r=0" class="d-block w-100" alt="Man with backpack over looks a lake that is surrounded by mountains.">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1>I love Reading</h1>
                                    <p>Some of my favorite books include Percy Jackson series, Atlantis Grail series, and Infinity born. I love science fiction and also find action and adventure interesting to read.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://3.bp.blogspot.com/-5p3D5TNqJec/XaeC7eEI2fI/AAAAAAABDbc/Ccq2-qTZcJMWE_QUU_oAeH1oBwRFj564QCLcBGAsYHQ/s1600/Study%2BShows%2BThat%2BTraveling%2BCan%2BMake%2BYou%2BHappier%2BThan%2BA%2BMarriage%2B2.jpg" class="d-block w-100" alt="Picture of pizza.">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1>I enjoy traveling</h1>
                                    <p>Some of my places I have traveled inclued California, Florida, Montana, and Iowa</p>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <img src="https://live.staticflickr.com/8529/8563111064_a91558e626_b.jpg" class="d-block w-100" alt="Camera looking over the shoulder of a kid reading a book.">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1>My favorite food is pizza</h1>
                                    <p>My Favorite food has always been pizza it has been a great constent in my life and I will always have a special place in my heart for a good slice of pizza.</p>
                                </div>

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#about-me-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#about-me-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
}








