@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DataEntities.UserMessage>;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kalkidan's Portfolio - Admin Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/css/site.css" rel="stylesheet" />  
     
    <script type="text/javascript">
        function search()
        {                       
            location.href = '/Admin/Home?name=' + document.querySelector('#search-for-message').value;
        }

        function deleteMessage(message_id){
            location.href = '/Admin/Delete?id=' + message_id;
        }

        function detailsMessage(message_id){

            location.href = '/Admin/Details?id=' + message_id ;
        }
    </script>

</head>
<body class="table">
    
    <a type="button" href="/Home/Home#home-link" class="btn btn-info skip">Skip navigation</a>
    <header>
        <nav class="admin-nav">
            <div>
                <ul id="admin-nav-list">
                    <li class="admin-li"><a class="site-logo" href="Home">@User.Identity.Name.ToString()</a></li>
                    <li class="admin-li"><a class="nav-link" href="/Admin/Home" aria-label="Go to the top of the home page.">Home</a></li>
                    <li class="admin-li"><a class="nav-link" href="/Admin/UserView" aria-label="Go to user view.">User View</a></li>
                    <li class="admin-li"><a class="nav-link" href="/Admin/AddAdmin" aria-label="Go to add admin page.">Add Admin</a></li>
                    <li class="admin-li"><a class="nav-link" href="/Admin/ViewUsers" aria-label="Go to View users page.">View Users</a></li>
                </ul>
            </div>            
        </nav>
    </header>
    

    <section class="table-display">
        <div class="admin-logout">
            <form asp-action="Logout" asp-controller="Home" method="post" class="admin-logout-form">
                <button type="submit" value="Logout" id="admin-logout-btn">Logout</button>
            </form>
        </div>
        <div class="search-input">
            <div class="row">           
                <div class="col-12">                                  
                    <input type="text" class="search-message" id="search-for-message" placeholder="Search Last Name" />
                    <button type="submit" class="search-message" onclick="search()">Search</button>                    
                </div>
            </div>
        </div>

        <table class="message-table">
            <thead>
                <tr >
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Respond To</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Edit</th>
                </tr>               
            </thead>

            <tbody>               
                @foreach(var message in Model)
                {
                    <tr >
                        <td>@Html.DisplayFor(modelItem => message.FirstName)</td>

                        <td>@Html.DisplayFor(modelItem => message.LastName)</td>

                        <td><a class="mail-to" href="mailto: @message.Email">@Html.DisplayFor(ModelItem => message.Email)</a></td>

                        <td>@Html.DisplayFor(modelItem => message.Subject)</td>

                        <td class="text-overflow">@Html.DisplayFor(modelItem => message.Message)</td>

                        <td>
                            <input type="button" value="Delete" id="delete-btn" onclick="deleteMessage('@message.Id')" />

                            <input type="button" value="Details" id="details-btn" onclick="detailsMessage('@message.Id')" />
                        </td>

                    </tr>
                }                
            </tbody>
        </table>

       
    </section>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </body>
</html>


