@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DataEntities.UserMessage>;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="View a message table and also have control over users and user messages." />
        <title>Kalkidan's Portfolio - Admin Home</title>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
              
    </head>

    <body class="admin-home">   
        <a type="button" href="/Home/Home#home-link" class="btn btn-info skip">Skip navigation</a>

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark mx-3">
                <div class="container-fluid">
               
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="Home">@User.Identity.Name.ToString()</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="d-flex justify-content-center"><a class="nav-link" href="/Admin/Home" aria-label="Go to the top of the home page.">Home</a></li>
                            <li class="d-flex justify-content-center"><a class="nav-link" href="/Admin/UserView" aria-label="Go to user view.">User View</a></li>
                            <li class="d-flex justify-content-center"><a class="nav-link disabled" href="/Admin/AddAdmin" aria-label="Currently disabled.">Add Admin</a></li>
                            <li class="d-flex justify-content-center"><a class="nav-link disabled" href="/Admin/ViewUsers" aria-label="Currently disabled.">View Users</a></li>
                        </ul>
                        @Html.AntiForgeryToken()
                    <form asp-action="Logout" asp-controller="Home" method="post" class="">

                        <button class="btn btn-outline-danger" type="submit" value="Logout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg> Logout
                        </button>
                    </form>
                    </div>
                </div>
            </nav>
        </header>
    
        <div class="container">
            <section class="table-display">

                
                <div class="row m-5">
                    <div class="col-12 d-flex justify-content-center">
                        <input type="text" class="search-message" id="search-for-message" placeholder="Search Last Name" />
                        <button type="submit" class="search-message" onclick="search()">Search</button>
                    </div>
                </div>
               

                <div class=" table-responsive d-flex justify-content-center">
                    <table class="table admin-message-table">
                        <thead>
                            <tr>
                                <th scope="col">Last Name</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Respond To</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Message</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        @{
                            //TODO: use render partial for each usermodel
                        }
                        <tbody id="user-result-list">
                            @foreach (var message in Model)
                            {
                                <tr>

                                    <td>@Html.DisplayFor(modelItem => message.LastName)</td>

                                    <td>@Html.DisplayFor(modelItem => message.FirstName)</td>

                                    <td><a class="mail-to" href="mailto: @message.Email">@Html.DisplayFor(ModelItem => message.Email)</a></td>

                                    <td>@Html.DisplayFor(modelItem => message.Subject)</td>

                                    <td class="text-overflow">@Html.DisplayFor(modelItem => message.Message)</td>

                                    <td>
                                    <button type="button" class="btn btn-outline-danger btn-sm" value="@message.Id" class="message-delete">Delete</button>

                                <button type="button" class="btn btn-outline-light btn-sm" value="@message.Id" class="message-details">Details</button>
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
             
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/site.js"></script>
    </body>
</html>


