@{
    ViewData["Title"] = "Index";

}

@model DataEntities.UserMessage;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KalPortfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        

    </script>

</head>
<body class="detail">
    <section>
        <div class="depth"></div>
        <div class="focus">
            <h1 class="display-2">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>

            <h2>
                @Html.DisplayFor(model => model.Message)
            </h2>

            <table class="message-detail">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> @Html.DisplayFor(model => model.FirstName)</td>

                        <td> @Html.DisplayFor(model => model.LastName)</td>

                        <td><a class="mail-to" href="mailto@Html.DisplayNameFor(model => model.Email):">Respond To: @Html.DisplayFor(model => model.Email) </a></td>

                        <td>@Html.DisplayFor(model => model.Subject)</td>

                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </section>
</body>
</html>