
@{
    ViewData["Title"] = "Index";
    
}

@model IEnumerable<DataEntities.UserMessages>;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KalPortfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function search()
        {                       
            location.href = '/Table/Index?name=' + document.querySelector('#search-for-message').value;
        }

        function deleteMessage(message_id){
            //alert("Are you sure you want to delete this Message?");
            //var input = prompt("Yes or No").toLowerCase();
            //if(input == "yes")
            //{
            //    location.href = '/Table/Delete?id=' + document.querySelector('#id').value;
            //}

            location.href = '/Table/Delete?id=' + message_id;
        }

        function detailsMessage(message_id){

            location.href = '/Table/Details?id=' + message_id ;
        }
    </script>

</head>
<body class="table">
    <header>
        <a href="#home-link" class="skip">Skip navigation</a>
        <nav class="navbar">
            <div class="container-fluid d-block ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="Index">K</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav d-inline-block table-navbar">
                        <li><a href="/Home/Index">Home</a></li>
                        <li><a href="/Table/Index">Table</a></li>
                        
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <section class="table-display">

        <div class="search-input">
            <div class="row">           
                <div class="col-12">              
                    <form>
                        <input type="text" class="search-message" id="search-for-message" placeholder="Search" />
                        <button type="button" class="search-message" onclick="search()">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <table class="message-table">
            <thead>
                <tr >
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Respond To</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Edit</th>
                </tr>               
            </thead>
            <tbody>
                
                @foreach(var message in Model)
                {
                    <tr >
                        
                        <td>@Html.DisplayFor(modelItem => message.FirstName)</td>

                        <td>@Html.DisplayFor(modelItem => message.LastName)</td>

                        <td><a class="mail-to" href="mailto: @message.Email">@Html.DisplayFor(ModelItem => message.Email)</a></td>

                        <td>@Html.DisplayFor(modelItem => message.Subject)</td>

                        <td class="text-overflow">@Html.DisplayFor(modelItem => message.Message)</td>

                        <td>
                            <input type="button" value="Delete" id="delete-btn" onclick="deleteMessage('@message.Id')" />

                            <input type="button" value="Details" id="details-btn" onclick="detailsMessage('@message.Id')" />
                        </td>

                    </tr>
                }
                
            </tbody>
        </table>

       
    </section>
    </body>
</html>


