@model DataEntities.UserMessage

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KalPortfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function search() {
            location.href = '/Table/Index?id=' + document.querySelector('#search-for-message').value;
        }
    </script>

</head>
<body class="table">
    <header>
        <a href="#home-link" class="skip">Skip navigation</a>
        <nav id="nav-in" class="navbar">
            <div class="container-fluid d-block ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="Index">K</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav d-inline-block ">
                        <li class="active"><a href="/Table/Index">Table</a></li>
                        <li><a href="/Search/Index">Search</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <section>

        <div class="message-editing">
            <div class="search-input">
                <div class="row">
                    <div class="col-12">

                        <form>
                            <input type="text" class="search-message" id="search-for-message" placeholder="Search Last Name" />
                            <button type="button" class="search-message" onclick="search()">Search</button>
                        </form>

                    </div>
                </div>
            </div>
            
        </div>

        <div>
            <p>Your Search Result:</p>
        </div>

        <table class="message-table">
            <thead>
                <tr >
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Respond To</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr> 

                    <td>@Html.DisplayFor(model => model.FirstName)</td>

                    <td>@Html.DisplayFor(model => model.LastName)</td>

                    <td><a class="mail-to" href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a></td>

                    <td>@Html.DisplayFor(model => model.Subject)</td>

                    <td class="text-overflow">@Html.DisplayFor(model => model.Message)</td>

                    <td><button id="delete">Delete</button></td>
                </tr>
            </tbody>
        </table>


    </section>
</body>
</html>