@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kalkidan's Portfolio - @ViewBag.Title</title>    
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="@ViewBag.Description" />       
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/site_critical.css" rel="stylesheet" />
        <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="~/css/site.css">
        <noscript>
            <link rel="stylesheet" href="~/css/site.css"/>
        </noscript>

        <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
        <script defer src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script defer src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script defer src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script defer src="~/js/site.js"></script>
        @RenderSection("Scripts", required: false)
    </head>

    @RenderSection("header", required: false)

    <body class="@ViewBag.Background">

        @RenderSection("body")

    </body>
</html>
